html,body{
	margin: 0;
	padding: 0;
	font-family: $font-family-sans-serif;
	font-size: $font-size-base;
	-webkit-font-smoothing: antialiased;
	color: $text-color;
}
html {
  	box-sizing: border-box;
  	min-height: 100%;
  	position: relative;
}
body{
	margin-bottom: 150px;

	@media (min-width: $screen-sm-min){
		margin-bottom: 100px;
	}
}
*, *:before, *:after {
  box-sizing: inherit;
}
h1,h2,h3,h4,h5,h6{
	font-family: $font-family-serif;
}
h2{
	margin-bottom: 20px;
}