.navbar-nav{
	display: inline-block;
	float: none;
	font-family: $font-family-nav;

	li{
		float: none;
		display: block;
		margin-left: 25px;

		&:first-child{
			margin-left: 0;
		}

		@media (min-width: $screen-sm-min) {
			display: inline-block;
		}
	}

	li a{
		text-decoration: none;
		color: #444;
		line-height: normal;
		font-size: 1.2em;
		text-transform: uppercase;
		padding: 10px 0;
		color: #818181;
		transition: color 0.3s;

		&:hover, &:focus{
			background: transparent;
		}
	}
	li a:after{
		display: block;
		position: absolute;
		bottom: 0;
		height: 2px;
		background: $brand-primary;
		content: '';
		width: 100%;
		opacity: 0;
		transition: opacity 0.4s;
	}
	li.active a, li:not(.navbar-search):hover a{
		color: #444;
	}
	li.active a:after, li:hover a:after{
		opacity: 1;
	}
}