{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		{% block header %}
			<header class="header">
				<nav class="navbar">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
								<div class="navbar-toggle-title">
									Menu

									<div class="hamburg">
										<span></span>
										<span></span>
										<span></span>
									</div>
								</div>
							</button>
							<a class="navbar-brand" href="#"><img src="{{ site.theme.uri }}/dist/img/logo.svg"></a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="main-nav">
							{% include "menu.twig" with {'menu': menu.get_items} %}
						</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</nav>
			</header>
		{% endblock %}

		{% block content %}
			Sorry, no content
		{% endblock %}

		{% block footer %}
			<footer class="footer">
				<div class="container">
					{% include 'footer.twig' %}
				</div>
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
