<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="copyright">
			&copy; Some Company. {{"now"|date('Y')}}.
		</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<ul class="social-icons">
			<li>
				<a href="#" alt="Facebook">
					<img src="{{ site.theme.uri }}/dist/img/icons/facebook_icon.svg">
				</a>
			</li>
			<li>
				<a href="#" alt="Facebook">
					<img src="{{ site.theme.uri }}/dist/img/icons/twitter_icon.svg">
				</a>
			</li>
		</ul>
	</div>
</div>