{% extends 'base.twig' %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="jumbotron text-center">
					<h1>Websites are our game.<br>Let us help you build yours.</h1>
					<p class="text-center">It’s 2016 every business needs a website. Let our years of experience help you create the site you are dreaming of. We start out with the user experience and end up with a beautiful functioning website, with your input every step of the way.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid no-gutters">
		<div class="row no-gutters">
			<div class="col-xs-12">
				<section>
					<h2 class="text-center">What we do</h2>
					<div class="row no-gutters">
						<div class="col-sm-12 col-md-4">
							<div class="service yellow">
								Col
							</div>
						</div>
						<div class="col-sm-12 col-md-4">
							<div class="service green">
								Col
							</div>
						</div>
						<div class="col-sm-12 col-md-4">
							<div class="service blue">
								Col
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>	
	</div>
{% endblock %}