{% extends 'base.twig' %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="jumbotron text-center">
					<h1>Websites are our game.<br>Let us help you build yours.</h1>
					<p class="text-center">It’s 2016 every business needs a website. Let our years of experience help you create the site you are dreaming of. We start out with the user experience and end up with a beautiful functioning website, with your input every step of the way.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid no-gutters">
		<div class="row no-gutters">
			<div class="col-xs-12">
				<section>
					<h2 class="text-center">What we do</h2>
					<div class="row no-gutters">
						<div class="col-sm-12 col-lg-4">
							<div class="service yellow">
								<h3>Design</h3>
								<p>
									This is a fun paragraph about how super awesome our design services are. We design only the best user experience your money can buy! Besides that why wouldn’t you choose a company with a goat for a logo?
								</p>
							</div>
						</div>
						<div class="col-sm-12 col-lg-4">
							<div class="service green">
								<h3>Development</h3>
								<p>
									This is a fun paragraph about how super awesome our design services are. We design only the best user experience your money can buy! Besides that why wouldn’t you choose a company with a goat for a logo?
								</p>
							</div>
						</div>
						<div class="col-sm-12 col-lg-4">
							<div class="service blue">
								<h3>Integration</h3>
								<p>
									This is a fun paragraph about how super awesome our design services are. We design only the best user experience your money can buy! Besides that why wouldn’t you choose a company with a goat for a logo?
								</p>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>	
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<section>
					<h2>Think we can help you?</h2>
					<a href="#" class="btn btn-default icon-right">
						Talk to us
						<svg width="22" height="22">
							<image xlink:href="{{ site.theme.uri }}/dist/img/icons/speech_bubble_icon.svg" width="22" height="22"/>
						</svg>
						<!-- <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg"><path d="M17.002 6.675V4.533H4.25v2.142h12.753zm-4.234 6.375v-2.142h-8.52v2.142h8.52zm-8.52-5.33v2.143h12.754V7.72H4.25zM19.146.3c.578 0 1.071.204 1.48.612.407.408.612.901.612 1.479v12.75a2.1 2.1 0 0 1-.613 1.504 1.976 1.976 0 0 1-1.48.638H4.25L.014 21.516V2.391c0-.578.205-1.071.613-1.479A2.016 2.016 0 0 1 2.107.3h17.038z" fill="#FFF" fill-rule="evenodd"/></svg> -->
					</a>
				</section>
			</div>
		</div>	
	</div>
{% endblock %}